
 <head>
   <META HTTP-EQUIV=refresh CONTENT=15>
 </head>

<style>
table, tr, td {
  vertical-align:middle;
  border-collapse: collapse;
  font-size: 10pt;
  margin: 10px;
  }
a { text-decoration: none}

</style>
 
  <table border=1>
Page Refreshed : Sun 31 Dec 2017 20:10:30 GMT
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:55</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652e" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652e" >EUR/USD Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:54</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652b" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652b" >GBP/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:22</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6549" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6549" >Dow Jones Intraday: turning down.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" >Crude Oil (WTI) (G18) Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6516" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6516" >Gold spot Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:02</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" >USD/JPY Intraday: capped by a negative trend line.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:56</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6531" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6531" >EUR/JPY Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:55</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652e" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652e" >EUR/USD Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:54</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652b" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652b" >GBP/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:53</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6528" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6528" >USD/CAD Intraday: target 1.2485.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:26</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b361e4b022c3b56a655b" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b361e4b022c3b56a655b" >S&amp;P 500 Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:25</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b361e4b022c3b56a6558" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b361e4b022c3b56a6558" >Nasdaq 100 Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:24</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b361e4b022c3b56a6555" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b361e4b022c3b56a6555" >Nasdaq 100 (CME) (H18) Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:22</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6549" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6549" >Dow Jones Intraday: turning down.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:21</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6546" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6546" >Dow Jones (CME) (H18) Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:18</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6543" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46b237e4b022c3b56a6543" >S&amp;P 500 (CME) (H18) Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:58</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469f75e4b022c3b56a64f5" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469f75e4b022c3b56a64f5" >GBP/JPY Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:56</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64f2" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64f2" >USD/CHF Intraday: the downside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:54</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ef" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ef" >EUR/GBP Intraday: range.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:52</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ec" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ec" >NZD/USD Intraday: break of a ST rising trendline support.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:37</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a7a9e4b022c3b56a6525" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a7a9e4b022c3b56a6525" >S&amp;P 500 ST: bullish bias above 2626.00.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:35</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a7a9e4b022c3b56a6522" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a7a9e4b022c3b56a6522" >Nasdaq 100 ST: the upside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:33</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a7a9e4b022c3b56a651f" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a7a9e4b022c3b56a651f" >Dow Jones ST: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:31</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a651c" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a651c" >Brent (ICE) (H18) Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" >Crude Oil (WTI) (G18) Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6516" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6516" >Gold spot Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:28</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6513" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6513" >Silver spot Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:27</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6510" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6510" >S&amp;P 500 Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:26</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a551e4b022c3b56a650d" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a551e4b022c3b56a650d" >Nasdaq 100 Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:23</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a550e4b022c3b56a650a" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a550e4b022c3b56a650a" >Dow Jones Intraday: key resistance at 24870.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:22</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a6507" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a6507" >Nikkei 225 Intraday: bullish bias above 22650.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:20</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a6504" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a6504" >Nikkei 225 (OSE) (H18) Intraday: bullish bias above 22720.00.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:19</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a6501" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a6501" >Dow Jones (CME) (H18) Intraday: break of a ST rising trendline support.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:18</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a64fe" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a425e4b022c3b56a64fe" >Nasdaq 100 (CME) (H18) Intraday: the downside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:17</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a2f9e4b022c3b56a64fb" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a2f9e4b022c3b56a64fb" >S&amp;P 500 (CME) (H18) Intraday: choppy.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:13</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a2f9e4b022c3b56a64f8" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a2f9e4b022c3b56a64f8" >Hang Seng (HKFE) (F18) Intraday: the upside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:02</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" >USD/JPY Intraday: capped by a negative trend line.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:01</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e6" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e6" >EUR/JPY Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:57</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e3" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e3" >EUR/USD Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:55</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64e0" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64e0" >GBP/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:52</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64dd" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64dd" >AUD/USD Intraday: bullish bias above 0.7785.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:51</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a468f0ce4b022c3b56a64da" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a468f0ce4b022c3b56a64da" >USD/CAD Intraday: capped by a negative trend line.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:22</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a466d10e4b022c3b56a64d7" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a466d10e4b022c3b56a64d7" >Dow Jones (CME) (H18) ST: the upside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:20</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a466be5e4b022c3b56a64d4" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a466be5e4b022c3b56a64d4" >Nasdaq 100 (CME) (H18) ST: the upside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:17</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a466be5e4b022c3b56a64d1" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a466be5e4b022c3b56a64d1" >S&amp;P 500 (CME) (H18) ST: bullish bias above 2626.00.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:08</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46698ce4b022c3b56a64ce" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46698ce4b022c3b56a64ce" >Nasdaq 100 (CME) (H18) Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:06</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a466861e4b022c3b56a64cb" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a466861e4b022c3b56a64cb" >S&amp;P 500 (CME) (H18) Intraday: turning down.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:05</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a7" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a7" >NZD/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:04</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a1" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a1" >USD/CAD Intraday: consolidation.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:04</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a466861e4b022c3b56a64c8" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a466861e4b022c3b56a64c8" >Dow Jones (CME) (H18) Intraday: under pressure.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:04</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a4" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a4" >GBP/JPY Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:03</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649e" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649e" >EUR/GBP Intraday: intraday support around 0.8855.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:03</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649b" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649b" >EUR/JPY Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:02</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6498" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6498" >USD/CHF Intraday: the downside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:01</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6495" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6495" >GBP/USD Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:01</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a466735e4b022c3b56a64c5" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a466735e4b022c3b56a64c5" >Nasdaq 100 (CME) (H18) Intraday: rebound in sight.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
</table>
