

  <head>
   <META HTTP-EQUIV=refresh CONTENT=35>
 </head>

<style>
table, tr {
  vertical-align: text-top;
  border-collapse: collapse;
  font-size: 10pt;
  margin: 5px;
  }
 .td {
  vertical-align: text-middle;
  border-collapse: collapse;
  font-size: 10pt;
  margin: 10px;
    font-color: black;
  }
a { text-decoration: none}
/* unvisited link */
a:link {
    color: red;
#     font-weight: bold;
#    background-color: white;
}

/* visited link */
a:visited {
    color: grey;
     font-weight: normal;
#    background-color: white;
}

/* mouse over link */
a:hover {
    color: black;
    #background-color: white;
}

/* selected link */
a:active {
    color: blue;
    #background-color: white;
}

</style>

  Page Refreshed : Sun 31 Dec 2017 20:10:30 GMT 

<table border=1><tr><td>
<table >
<tr><td colspan=3 style='background-color:green;color:white;'><b>DIRECTION UP</b></td></tr>
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:56</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6531" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6531" >EUR/JPY Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:55</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652e" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652e" >EUR/USD Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:54</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652b" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a652b" >GBP/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:58</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469f75e4b022c3b56a64f5" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469f75e4b022c3b56a64f5" >GBP/JPY Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:54</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ef" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ef" >EUR/GBP Intraday: range.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" >Crude Oil (WTI) (G18) Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:01</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e6" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e6" >EUR/JPY Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:57</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e3" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e3" >EUR/USD Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:55</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64e0" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64e0" >GBP/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:52</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64dd" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469038e4b022c3b56a64dd" >AUD/USD Intraday: bullish bias above 0.7785.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:05</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a7" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a7" >NZD/USD Intraday: further advance.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:04</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a4" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a4" >GBP/JPY Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:03</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649e" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649e" >EUR/GBP Intraday: intraday support around 0.8855.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:03</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649b" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a649b" >EUR/JPY Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:01</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6495" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6495" >GBP/USD Intraday: the bias remains bullish.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
</table>
</td><td>
<table>
<tr><td colspan=3 style='background-color:yellow;color:black;'><b>WATCH FOR DIRECTION CHANGE</b></td></tr>
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6516" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6516" >Gold spot Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:28</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6513" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6513" >Silver spot Intraday: supported by a rising trend line.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#F9FB77'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:04</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a1" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465a51e4b022c3b56a64a1" >USD/CAD Intraday: consolidation.</a></td>  <td class="lignebas" align="center"><img src="images/wait_arrow.png" border=0></td> 
</table>
</td><td>
<table>
<tr><td colspan=3 style='background-color:red;color:white;'><b>DIRECTION DOWN</b></td></tr>
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 20:53</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6528" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46ac59e4b022c3b56a6528" >USD/CAD Intraday: target 1.2485.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:56</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64f2" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64f2" >USD/CHF Intraday: the downside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:52</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ec" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469e49e4b022c3b56a64ec" >NZD/USD Intraday: break of a ST rising trendline support.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:02</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" >USD/JPY Intraday: capped by a negative trend line.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 18:51</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a468f0ce4b022c3b56a64da" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a468f0ce4b022c3b56a64da" >USD/CAD Intraday: capped by a negative trend line.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 15:02</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6498" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a465925e4b022c3b56a6498" >USD/CHF Intraday: the downside prevails.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
</table>
</td><td>
<table>
<tr><td colspan=3 style='background-color:blue;color:white;'><b>FAVOURITES</b></td></tr>
<tr onMouseOver="this.bgColor='#CDF6CD'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:30</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a46a67ee4b022c3b56a6519" >Crude Oil (WTI) (G18) Intraday: further upside.</a></td>  <td class="lignebas" align="center"><img src="images/up_arrow.png" border=0></td> 
<tr onMouseOver="this.bgColor='#FB7977'" onMouseOut="this.bgColor='#FFFFFF'" bgcolor="#FFFFFF">  <td class="lignebas" align="left">29/12/2017 19:02</td>  <td class="lignebas"><a class="linkToArticle" name="/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" target="fxcontent" href="https://plus.dailyfx.com/fxcentral/Analysis.do?analysisid=5a469166e4b022c3b56a64e9" >USD/JPY Intraday: capped by a negative trend line.</a></td>  <td class="lignebas" align="center"><img src="images/down_arrow.png" border=0></td> 
</td></tr></table>
